.link {
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.3rem;
  text-decoration: none;
  color: black;
  border: black solid;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.link:hover{
  background-color: gray;
}