.card {
  border-radius: 0.5rem;
  width: 24rem;
  text-align: center;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  margin: 1rem;
}

.link-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
}

.title-container {
  height: 3rem;
}

.description-container {
  height: 8rem;
}

img {
  height: 15rem;
  width: 22rem;
  overflow: hidden;
}

h2, h4 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
